@import "./settings";
body {
  font-family: $base-font;
  font-size: 16px;
  line-height: 21px;
  height: 100vh;
  margin: 0;
}
#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}
.home-banner {
  position: relative;
}
.search-area {
  position: absolute;
  right: 20px;
  top: 150px;
  left: auto;
  max-width: 350px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  z-index: 1;
  .btn:first-child {
    margin-right: 20px;
    background-color: $color-pink;
    border-color: $color-pink;
  }
}
.app-header {
  background: #fff;
  position: relative;
  z-index: 999;
  border-bottom: 2px solid $color-pink;
}
.select-input {
  display: block;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  border-color: #ccc;
  width: 100%;
}
.listing-wrap {
  display: flex;
  flex-flow: wrap;
  .list-item {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border: 1px solid #ccc;
    .profile-pic {
      width: 20%;
      position: relative;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      .blur-element {
        -webkit-filter: blur(10px);
                filter: blur(10px); 
      }
      .login-text {
        position: absolute;
        left: 30%;
        top: 40%;
        background: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        a {
          text-decoration: none;
        }
      }
    }
    .listing-details {
      width: 80%;
      > ul {
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        padding: 20px 0;
        list-style: none;
        > li {
          width: 50%;
          padding: 3px 5px;
          span {
            display: inline-block;
            width: 50%;
            color: #000;
            font-weight:bold;
            text-transform: capitalize;
            vertical-align: top;
          }
          span:first-child {
            color: $color-pink;
            font-weight: normal;
          }
        }
      }
      .item-footer {
        border-top: 1px solid $color-pink;
        padding: 10px 20px;
        display: flex;
        font-size: 18px;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          flex-flow: row nowrap;
          width: 100%;
        }
      }
    }
  }
}
.form-section {
  padding: 20px 40px;
  -webkit-box-shadow: inset 0 0 10px .5px #EBEBEB;
  box-shadow: inset 0 0 10px .5px #EBEBEB;
}
.bg-pink {
  background: $color-pink !important;
  border-color: $color-pink !important;
}
.text-pink { color: $color-pink; }
.nav-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  > li {
    list-style: none;
    margin-left: 15px;
    &.dropdown {
      position: relative;
      border: 1px solid #EBEBEB;
      border-radius: 5px;
       li {
         list-style: none;
       }
    }
    .profile-icon {
      text-decoration: none;
      font-size: 15px;
      text-transform: capitalize;
    }
    > a {
      padding: 10px;
      color: $color-pink;
      font-weight: bold;
      display: block;
    }
    .profile-dropdown {
      position: absolute;
      right: 0;
      top: 47px;
      background: #fff;
      border: 1px solid #EBEBEB;
      border-radius: 5px;
      padding: 0;
      margin: 0;
      width: 150px;
      li {
        a {
          display: block;
          padding: 10px 12px;
          border-bottom: 1px solid #EBEBEB;
          text-decoration: none;
          color: $color-pink;
          &:hover {
            background: $color-pink;
            color: #fff;
          }
        }
      }
    }
  }
}
.color-grey {
  color: #ccc;
}
.list-fav a:hover {
  color: red;
}
.footer-wrap {
  background-color: $color-pink;
  color: #fff;
  margin-top: auto;
  min-height: 50px;
}



