.user-profile-view {
  .white-box {
    min-height: 330px;
    h2 {
      border-bottom: 1px solid $border-color;
      margin-bottom: 20px;
      padding-bottom: 5px;
    }
    .profile-box{
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin-bottom: 10px;
        span {
          display: inline-block;
          width: 65%;
          text-transform: capitalize;
          &:first-child {
            width: 35%;
            vertical-align: top;
          }
        }
      }
    }
  }
}